name: Auto Process Paper

on:
  push:
    paths:
      - 'pdf-upload/**.pdf' # మనం PDF పెట్టినప్పుడు మాత్రమే ఇది ఆన్ అవుతుంది

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y poppler-utils
        pip install -r requirements.txt

    - name: Run Robot Script
      run: python process_paper.py

    - name: Commit and Push changes
      run: |
        git config --global user.name "Auto Robot"
        git config --global user.email "robot@client-2.in"
        git add papers/
        git add app.js
        git add index.html
        git add pdf-upload/
        git commit -m "Auto-processed paper" || echo "No changes to commit"
        git push